.session-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.session-item {
  background-color: #2e2e3a;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  max-height: 50px;
  font-size: 18px;
}

.session-item:hover {
  background-color: #424258;
  transform: translateY(-3px);
}

.session-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.session-info {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.session-date {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #bbbbbb;
}

.start-session-button-container {
  margin-top: 20px;
  text-align: center;
}

.start-session-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-session-button:hover {
  background-color: #004d40;
}
